.sic-message {
  top: 5%;
  .sic-message-notice-wrapper {
    .sic-message-notice-content {
      padding: 0;

      .sic-message-success,
      .sic-message-error,
      .sic-message-info,
      .sic-message-warning,
      .sic-message-loading {
        > .anticon {
          color: #fff;
          font-size: 18px;
        }
      }
      .sic-message-custom-content {
        color: #fff;
        font-size: 18px;
        line-height: 22px;
        font-family: 'LingCaiTi';
      }
      .anticon-check-circle,
      .anticon-close-circle {
        color: #fff;
      }
      .sic-message-custom-content {
        box-sizing: border-box;
        padding: 20px 20px;
        border-radius: 8px;
      }
      .sic-message-success {
        background-color: #38b865;
      }
      .sic-message-error {
        background-color: #ff7875;
      }
      .sic-message-info {
        background-color: #2e64fa;
      }
      .sic-message-warning {
        background-color: #faad14;
      }
      .sic-message-loading {
        background-color: #2e64fa;
      }
    }
  }
}
