.sic-buttonui {
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
  border-radius: 4px;
  gap: 4px;
}

.sic-buttonui.ant-btn-border {
  color: var(--themeColor);
  border-color: var(--themeColor);
}
.sic-buttonui.ant-btn-default.ant-btn-dangerous {
  color: var(--textBlack);
  border-color: #d9d9d9;
}

.sic-buttonui.ant-btn-border.ant-btn-dangerous {
  color: var(--red);
  border-color: var(--red);
}

.sic-buttonui.ant-btn-border:disabled {
  cursor: not-allowed;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.04);
}
