.sicFormUI {
  &-title {
    border: 1px solid #e3e3e3;
    margin-bottom: 24px;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 48px;
      border: 1px solid #e3e3e3;
      background: linear-gradient(90deg, rgba(46, 100, 250, 0.1) 0%, rgba(46, 100, 250, 0) 100%);
      &-text {
        font-size: 14px;
        padding: 14px 20px;
      }
      &-button {
        display: flex;
      }
    }
    &-content {
      padding: 20px 20px 0 20px;
    }
  }
  &-protitle {
    width: 100%;
    &-header {
      width: 100%;
      height: 22px;
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 22px;
      font-family: 'LingCaiTiBold';
      margin-bottom: 12px;
      &-icon {
        color: var(--red);
        margin-right: 4px;
      }
      &-value {
        width: fit-content;
      }
      &-line {
        flex: 1;
        height: 1px;
        background-color: #d4d6d9;
        margin-left: 20px;
      }
    }
    &-header::before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 14px;
      background-color: var(--themeColor);
      margin-right: 6px;
    }
  }
  &-protitle.border {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #e3e3e3;
    margin-bottom: 20px;
  }
}
