.sic-tagui {
  box-sizing: border-box;
  padding: 0 8px;
  width: auto;
  height: 28px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4px;

  &-icon {
    margin-left: 2px;
    font-size: 14px;
  }
}
